dbus-next>=0.2.3
winrt-windows-media>=3.2.1; sys_platform == "win32"
winrt-windows-media-core>=3.2.1; sys_platform == "win32"
winrt-windows-media-playback>=3.2.1; sys_platform == "win32"
winrt-windows-ui-notifications>=3.2.1; sys_platform == "win32"
